body {
  background-image: url(../images/black_sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Bebas Neue", cursive;
  color: whitesmoke; }

a:link {
  text-decoration: none;
  color: whitesmoke; }

a:active {
  text-decoration: none;
  color: whitesmoke; }

a:visited {
  color: whitesmoke;
  text-decoration: none; }

a:hover {
  color: gray; }

.titulosartistas {
  display: flex;
  flex-direction: column;
  align-items: center; }

.artistas {
  display: flex;
  margin: 2%; }

.nombresartistas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10%; }
  .nombresartistas a {
    font-size: 200%; }

.fotosartistascol {
  display: flex;
  flex-direction: column;
  margin: 2%; }
  .fotosartistascol a {
    margin-bottom: 2%; }
    .fotosartistascol a img {
      width: 90%;
      box-shadow: 0px 0px 8px 8px black;
      border-radius: 2%; }

.logoartista {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .logoartista img {
    width: 10%; }

.artistasec {
  display: flex;
  align-items: flex-start;
  margin-top: 1%; }
  .artistasec img {
    width: 80%; }

.artistadesc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10%; }

.artistafoto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2%; }
  .artistafoto a {
    display: flex;
    margin-bottom: 2%; }
    .artistafoto a img {
      width: 3%; }

.separacion {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: whitesmoke;
  height: 10px;
  margin-left: 2%; }

.soundcloud {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center; }

.titulogen {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .titulogen hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: whitesmoke;
    height: 5px; }
  .titulogen a {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .titulogen a img {
      width: 50%;
      box-shadow: 0px 0px 8px 8px black;
      border-radius: 2%;
      margin: 2% 0% 2% 0%; }

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 4;
  font-size: x-large; }
