body {
    background-image: url(../images/black_sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Bebas Neue", cursive;
    color: whitesmoke;
}

a:link {
    text-decoration: none;
    color: whitesmoke;
}

a:active {
    text-decoration: none;
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: gray;
    
}