body {
    background-image: url(../images/mar_prueba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Bebas Neue", cursive;
    color: whitesmoke;
}

